@model Laurus.Secrets.Models.Password

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Secret", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Password</legend>

        <div>
            Name:
            <input type="text" name="Label" id="Label" />
        </div>
        <div>
            Secret data:
            <input type="text" name="EncryptedData" id="EncryptedData" />
        </div>

        <p>
@*            <input type="submit" value="Create" />*@
            <a href="#" id="submitButton">save</a>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="/Scripts/Aes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //var key = "blarf";
            var key = localStorage.getItem("key");

            $("#submitButton").click(function () {
                var plainText = $("#EncryptedData").val();
                var encrypted = Aes.Ctr.encrypt(plainText, key, 128);
                var label = $("#Label").val();
                $.post("/Secret/Create",
                    {
                        EncryptedData: encrypted,
                        UserId: 0,
                        Label: label
                    },
                    function (data, status) {
                        // redirect to list
                        //alert(data + status);
                });
            });
        });
    </script>
}
