@model IEnumerable<Laurus.Secrets.Models.Password>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    .secret-view {
        float: right;
        border: 1px solid;
        width: 200px;
        height: 150px;
        padding: 15px 15px 15px 15px;
    }
</style>

<h2>secrets!</h2>

<p>
    @Html.ActionLink("Add a password", "Create")
</p>

<div>
    <div class="secret-view">
        <h4 id="view-title"></h4>
        <div id="view-content">
        </div>
    </div>
    <div>
        <ul>
            @foreach (var m in @Model)
            {
                <li>
                    <div class="item" data-val="@m.EncryptedData" data-label="@m.Label">@m.Label
                        <div class="edit-links">
                            <a href="#" id="edit">edit</a>
                            <a href="#" id="delete">delete</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>


@section Scripts
    {
    <script type="text/javascript" src="/Scripts/Aes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var key = localStorage.getItem("key");

            $(".item").text($(this).attr("data-label"));
            $(".edit-links").hide();

            $(".item").mouseenter(function () {
                $("#view-title").text($(this).attr("data-label"));
                var cipher = $(this).attr("data-val");
                var plainText = Aes.Ctr.decrypt(cipher, key, 128);
                $("#view-content").text(plainText);

                var l = $(this).children();
                l.show();
            });

            $(".item").mouseleave(function () {
                $("#view-title").text("");
                $("#view-content").text("");
                $(".edit-links").hide();
            });
        });
    </script>
}
