@model IEnumerable<Laurus.Secrets.Models.Password>

@{
	ViewBag.Title = "Index";
}
<style type="text/css">
	.secret-view {
		float: right;
		border: 1px solid;
		width: 200px;
		height: 150px;
		padding: 15px 15px 15px 15px;
	}
</style>

<h2>secrets!</h2>

<p>
	@Html.ActionLink("Add a password", "Create")
</p>

<div>
	<div class="secret-view">
		<h4 id="view-title"></h4>
		<div id="view-content"></div>
		<div id="view-field3"></div>
		<div id="view-field4"></div>
		<div class="edit-links">
			<a href="#" id="edit-current">edit</a>
			<a href="#" id="delete-current">delete</a>
		</div>
	</div>
	<div>
		<ul>
			@foreach (var m in @Model)
			{
				<li>
					<div class="item" data-val="@m.EncryptedData" data-id="@m.PasswordId">
					</div>
				</li>
			}
		</ul>
	</div>

</div>


@section Scripts
    {
	<script type="text/javascript" src="/Scripts/Aes.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var key = localStorage.getItem("key");

			$(".item").text(function (index, text) {
				var encrypted = $(this).attr("data-val");
				var plainJson = Aes.Ctr.decrypt(encrypted, key, 128);
				var fields = JSON.parse(plainJson);
				return fields.one;
			});
			$(".edit-links").hide();

			$(".item").click(function () {
				var cipher = $(this).attr("data-val");
				var plainText = Aes.Ctr.decrypt(cipher, key, 128);
				var fields = JSON.parse(plainText);
				$("#view-title").text(fields.one);
				$("#view-content").text(fields.two);
				$("#view-field3").text(fields.three);
				$("#view-field4").text(fields.four);

				$("#edit-current").attr("href", "/Secret/Edit/" + $(this).attr("data-id"));
				$("#delete-current").attr("href", "/Secret/Delete/" + $(this).attr("data-id"));
				$(".edit-links").show();
			});

			$(".item-no").mouseleave(function () {
				$("#view-title").text("");
				$("#view-content").text("");
				$("#view-field3").text("");
				$("#view-field4").text("");
				$(".edit-links").hide();
			});

			$(".edit-current").click(function (x) {
				var itemId = $(this).attr("data-val");
				var url = "/Secret/Edit/" + itemId;
				window.location = url;
			});

			$(".delete-current").click(function (x) {
				var itemId = $(this).attr("data-val");
				alert(itemId);
				var url = "/Secret/Delete/" + itemId;
				window.location = url;
			});
		});
	</script>
}
