@{
    ViewBag.Title = "Index";
}

<h2>About Laurus Secrets</h2>

<h3>What does it do?</h3>
<div>
    It stores secret text data.  Mostly for passwords so you don't have to remember them all
</div>

<h3>No way I'm putting my passwords on the internet!  Somebody will steal them and I'll be ruined!</h3>
<div>
    This is a valid concern, and Secrets was written specifically because of this issue.  Secrets works differently than most online password storage sites.  Your secret data is stored
    on our servers, but only in an encrypted format.  Your data can only be decrypted using your password <b>decryption only happens in your browser</b>.
</div>
